<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988168658849-jvbrv4tlrcjfdapul6ldmojr5le065l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988168658849-jvbrv4tlrcjfdapul6ldmojr5le065l0</string>
	<key>API_KEY</key>
	<string>AIzaSyBDEGmnw6TIXzh2VuX1uFfjanq63WOBxNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>988168658849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paddepal.CMUMeets</string>
	<key>PROJECT_ID</key>
	<string>cmumeets</string>
	<key>STORAGE_BUCKET</key>
	<string>cmumeets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:988168658849:ios:c8c73c81e9ad7a830fb5e0</string>
</dict>
</plist>
